# Bundler
# -------

vendor/bundle

# Clang/GCC
# ---------

*.dSYM/

# Foreman
# -------

.env

# Vim
# ---

*.swo
*.swp
.netrw*

# Finder
# ------

.DS_Store

# Exuberant Ctags
# ---------------

tags

# rbenv
# -----

.ruby-version

# virtualenv
# ----------

env/
