[alias] 
	br = branch 
	co = checkout 
	st = status 
[color] 
	ui = auto 
[core] 
	excludesfile = ~/.gitignore
[diff]
	algorithm = patience
	renames = true
[format] 
	numbered = true 
[push]
	default = current
[rerere] 
	enabled = true 
[status]
	showUntrackedFiles = all
[tag]
	sort = version:refname
[user] 
	name = Jussi Virtanen 
	email = jussi.k.virtanen@gmail.com 
