# Bundler
# -------

.bundle/
vendor/bundle

# Vim
# ---

*.swo
*.swp
.netrw*

# Finder
# ------

.DS_Store

# Exuberant Ctags
# ---------------

tags

# rbenv
# -----

.ruby-version

# virtualenv
# ----------

env/
