# Bundler
# -------

vendor/bundle

# Clang/GCC
# ---------

*.dSYM/

# Foreman
# -------

.env

# Leiningen
# ---------

.lein-repl-history
.nrepl-port

# Vim
# ---

*.sw?
.netrw*

# Finder
# ------

.DS_Store

# Exuberant Ctags
# ---------------

tags

# chruby
# ------

.ruby-version

# virtualenv
# ----------

env/
